/* import fonts to project */
@import url(../../public/fonts/css/fontiran.css);
@import url(../../public/fonts/css/Gofteh.css);
/* import tailwind to project */
@import "tailwindcss";
@theme {
  --color-primary:#FF9900
}
body {
  font-family: dana;
}
.header {
  list-style: none;
  padding: 0;
  margin: 0;
  font: bold 1.5rem;
  text-transform: uppercase;
  color: #efefef;
}
.header li {
  padding: 0 .5em .25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.header li:hover {
  color: #fff;
}
.header li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
  background: #ce4f20; /* the color */
  scale: 0 1;
  transition: .3s;
}
.header li:hover:before {
  scale: 1;
  translate: 0;
}

@media screen and (max-width:1280px) and (min-width:1024PX) {
  .tajrobeh {
    margin-right: -120PX !important;
  }
}